<p>edit-motor works!</p>
<div class="container col-md-6">
    <div class="card-header">
        <h3> Actualizar Motor</h3>
    </div>
    <div class="card-body">
        <form action="">
 
            <div class="form-group">
                <label for="">Descripcion:</label>
                <input type="text" [(ngModel)]="motor.desMotor" name="desMotor" class="form-control">
            </div>

            <button (click)="actualizar(motor)"  class="btn btn-danger">Guardar</button>
            
        </form>

    </div>
</div>
